<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">


    <!--所有Subject的管理者，这是Shiro框架的核心组件，可以把他看做是一个Shiro框架的全局管理组件，用于调度各种Shiro框架的服务-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="cacheManager"></property>
    </bean>

    <!--用户信息认证器和用户权限认证器-->
    <bean id="shiroDbRealm" class="example.service.shiro.ShiroRealm"></bean>

    <!--对Shiro的其他组件提供缓存支持-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/toLogin" />
        <property name="successUrl" value="/home" />
        <property name="unauthorizedUrl" value="/403" />
        <property name="filters">
            <map>
                <entry key="roles">
                    <bean class="example.service.shiro.CustomRolesAuthorizationFilter" />
                </entry>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /toLogin = authc <!-- authc 表示需要认证才能访问的页面 -->
                /home = authc, perms[/home]  <!-- perms 表示需要该权限才能访问的页面 -->
                /admin = authc, roles[admin] <!--表示用户必需已通过认证,并拥有admin角色才可以正常发起'/admin'请求-->
                /home1/** = authc, roles[reg_user] <!--表示用户必需已通过认证,并拥有reg_user角色才可以正常发起'/home1'请求-->
                /home2/** = authc, roles[reg_user,admin] <!--表示用户必需已通过认证,并拥有admin或reg_user角色才可以正常发起'/home2'请求-->
            </value>
        </property>
    </bean>
</beans>